*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 38px;
}

p{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

header, footer{
    display: flex;
    height: 80px;
    padding: 10px 32px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-bottom: 1px solid #FFF;
}

.container{
    display: flex;
    margin: 0 auto;
    padding: 90px;
    width: 1176px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    align-self: stretch;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    align-self: stretch;
}

.title h1{
    width: 100%;
}

.title .texts{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
    align-items: flex-end;
}

.assi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.assi p{
    font-weight: 700;
}

.cartas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.cartas h2{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.cartas p{
    font-family: "Waiting for the Sunrise";
    font-size: 24px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    border-bottom: 0;
    border-top: 1px solid #FFF;
    justify-content: center;
    align-items: center;
}

/*CARTA*/
.texts-cartas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.texts-cartas .title-cartas{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #FFF;
}

.p-text{
    font-weight: 300;
}